{% include 'header.html' %}
<br>
<a>Listado de COMPRAS</a>
<br>
<br>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Denominacion</th>
                <th>Rubro</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr>
                    <td>{{ compra[0] }}</td>
                    <td><img class="img-thumbnail" width="100" src="uploads/{{compra[1]}}" alt=""></td>
                    <td>{{ compra[2] }}</td>
                    <td>{{ compra[3] }}</td>
                    <td>{{ compra[4] }}</td>
                    <td> {{ compra[5] }}  </td>            
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% include 'footer.html' %}
